.comment-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #8080802e;
  border-radius: 10px;
  margin-right: 5px;
  padding: 5px;
  flex: 1;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #80808040;
}

.trash-icon {
  margin-right: 10px;
  cursor: pointer;
}

.img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.name-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

:host {
  display: flex;
  gap: 5px;
}
