<div class="signup-wrapper">
  <form [formGroup]="formGroup" class="signup-form">
    <mat-form-field>
      <mat-label class="email">Email</mat-label>
      <input #email matInput formControlName="email" type="email" (change)="testEmail(email.value)" (focusout)="testEmail(email.value)"/>
      <mat-hint *ngIf="formGroup.controls['email'].dirty && !formGroup.controls['email'].hasError"></mat-hint>
      <mat-error *ngIf="formGroup.controls['email'].dirty && formGroup.controls['email'].hasError">{{emailMessage}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label class="userName">User Name</mat-label>
      <input #userName matInput formControlName="userName" (change)="testUserName(userName.value)" (focusout)="testUserName(userName.value)"/>
      <mat-hint *ngIf="formGroup.controls['userName'].dirty && !formGroup.controls['userName'].hasError"></mat-hint>
      <mat-error *ngIf="formGroup.controls['userName'].dirty && formGroup.controls['userName'].hasError">{{userNameMessage}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label class="userName">First Name</mat-label>
      <input matInput formControlName="firstName"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label class="userName">Last Name</mat-label>
      <input matInput formControlName="lastName"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label class="password">Password</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>
  </form>
  <button mat-raised-button [disabled]="formGroup.invalid" (click)="onSignUp()">Sign Up</button>
</div>
