.details-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 5px;
}

.description {
  flex: 0.2;
}

.reactions {
  flex: 0.1;
}

.comments {
  flex: 0.7;
  max-height: 70%;
  margin-right: 10px;
  margin-bottom: 10px;
}
