.details-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 5px;
}

.description {
  flex: 0.3;
}

.reactions {
  flex: 0.1;
}

.comments {
  flex: 0.6;
  margin-right: 10px
}
