.photos-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-height: 240px;
  overflow: auto;
  margin-top: 10px;
}

.photo-row {
  display: flex;
  flex-direction: column;
  position: relative;
}

.photo {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  border-radius: 4px;
}

.photo-label {
  display: flex;
  justify-content: center;
}

.remove-photo {
  position: absolute;
  top: 5px;
  left: 5px;
}

.photo-row {
  cursor: pointer;
}
